<form class="AddTodo" action="/todos" method="POST" >
    <input class="AddTodo-text" name="todo_text" type="text" placeholder="What's next ?" />
    <input class="AddTodo-date" name="due_date" type="date" />
    <input class="AddTodo-button" type="submit" value="Add" />
</form>